<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MateuszMesek\DocumentDataIndexApi\EntityIdsResolverInterface" type="MateuszMesek\DocumentDataIndex\EntityIdsResolver"/>
    <type name="MateuszMesek\DocumentDataIndex\EntityIdsResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexApi\DataResolverInterface" type="MateuszMesek\DocumentDataIndex\DataResolver"/>
    <type name="MateuszMesek\DocumentDataIndex\DataResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndex\DataResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndex\Config</argument>
        </arguments>
    </type>

    <preference for="MateuszMesek\DocumentDataIndexApi\Command\GetDocumentsByDimensionsAndEntityIdsInterface" type="MateuszMesek\DocumentDataIndex\Command\GetDocumentsByDimensionsAndEntityIds"/>
    <preference for="MateuszMesek\DocumentDataIndexApi\Command\GetEntityIdsByDimensionsInterface" type="MateuszMesek\DocumentDataIndex\Command\GetEntityIdsByDimensions"/>
    <preference for="MateuszMesek\DocumentDataIndexApi\Command\GetIndexNamesInterface" type="MateuszMesek\DocumentDataIndex\Command\GetIndexNames"/>
    <preference for="MateuszMesek\DocumentDataIndexApi\IndexNameResolverInterface" type="MateuszMesek\DocumentDataIndex\IndexNameResolver"/>
    <type name="MateuszMesek\DocumentDataIndex\Command\GetDocumentsByDimensionsAndEntityIds">
        <arguments>
            <argument name="documentResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndex\Command\GetEntityIdsByDimensions">
        <arguments>
            <argument name="documentResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndex\IndexNameResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexApi\SaveHandlerInterface" type="MateuszMesek\DocumentDataIndex\SaveHandler"/>
    <type name="MateuszMesek\DocumentDataIndex\SaveHandler">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndex\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndex\SaveHandlerFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndex\Config</argument>
        </arguments>
    </type>
</config>
